.synology-surveillance {
  --cam-bg-color: #2b2c30;
  --cam-name-bg-color: #1b1b1c;
  --postion-color: #5e5f63;
  --position-selected-color: #1b1b1c;
  --cam-wrapper-border-radius: 5px;
  --cam-border-radius: 5px;
  --name-border-radius: 5px;
  --position-border-radius: 3px;
  --padding-camWrapper: 5px;
  --cam-width: 200px;
  --cam-min-height: calc(var(--cam-width) / 1.33);

  --cam-big-width: calc(var(--cam-width) * 2);
  --cam-big-wrapper-width: var(--cam-big-width);
  --cam-big-min-height: calc(var(--cam-big-width) / 1.33);

  --icon-size: 50px;
  --icon-postion: calc(var(--cam-min-height) / 2 - 25px);
  --icon-big-position: calc(var(--cam-big-min-height) / 2 - 25px);

  --position-size: 10px;
  --position-big-size: calc(var(--position-size) * 2);
  --position-margin: 5px 5px 5px 5px;

  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.innerPositionWrapper {
  min-height: calc(var(--position-size) + 20px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.position {
  margin: var(--position-margin);
  padding: 5px;
  height: var(--position-size);
  width: var(--position-size);
  background-color: var(--postion-color);
  border-radius: var(--position-border-radius);
}

.position.big {
  height: var(--position-big-size);
  width: var(--position-big-size);
}

.position .selected {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  border-radius: var(--position-border-radius);
  background-color: var(--position-selected-color);
}

.camWrapper {
  background-color: var(--cam-bg-color);
  border-radius: var(--cam-wrapper-border-radius);
  padding: var(--padding-camWrapper);
  margin: 5px;
}

.camWrapper .name {
  width: 100%;
  background-color: var(--cam-name-bg-color);
  border-radius: var(--name-border-radius);
  margin-bottom: 5px;
}

.innerCamWrapper {
  margin: auto;
  display: block;
  width: var(--cam-width);
  min-width: var(--cam-width);
  min-height: var(--cam-min-height);
}

.innerCamWrapper.big {
  margin: auto;
  display: block;
  min-width: var(--cam-big-wrapper-width);
  min-height: var(--cam-big-min-height);
}

.cam {
  border-radius: var(--cam-border-radius);
  max-width: 100%;
  margin: auto;
  display: block;
}

.cam.nourl,
.cam.currentBig {
  min-height: 100%;
  font-size: var(--icon-size);
  position: relative;
  top: var(--icon-postion);
}

.cam.nourl.big {
  top: var(--icon-big-postion);
}
