.synology-surveillance {
    line-height: 0px;
    max-width: 400px;
    --cam-width: 200px;
    --cam-height: calc(var(--cam-width)/1.33);
    --cam-big-width: calc(var(--cam-width)*1.7);
    --cam-big-height: calc(var(--cam-big-width)/1.33);
}

.synology-surveillance .row {
  text-align: center;
}

.camWrapper {
    padding: 5px;
    margin: 2px;
    background-color:#302f2d;
    border-radius: 5px;
}

.camWrapper.big {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.camWrapper.currentBig {
    background-color: transparent;
    border-radius: 0px;
    width: var(--cam-width);
    min-width: var(--cam-width);
    height: var(--cam-height);
    min-height: var(--cam-height);
}

.camWrapper.nourl {
    background-color: transparent;
    border-radius: 0px;
    width: var(--cam-width);
    min-width: var(--cam-width);
    height: var(--cam-height);
    min-height: var(--cam-height);
}

.camWrapper .name {
    margin-top: 5px;
    line-height: 1em;
}

.camWrapper .cam {
    width: var(--cam-width);
    max-width: var(--cam-width);
    height: var(--cam-height);
    max-height: var(--cam-height);
    padding: 5px;
    margin: 2px;
    background-color:#302f2d;
    border-radius: 5px;
}

.camWrapper.big .cam {
    width: var(--cam-big-width);
    max-width: var(--cam-big-width);
    height: var(--cam-big-height);
    max-height: var(--cam-big-height);
}

